<div class="new-section">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="section__info">
                    <h2 class="section__title">{{ site.data.settings.projects__settings.how_to_get_it }}</h2>
                </div>
            </div>
            
        </div>

        <div class="row">
            <div class="col col-12">
                <div class="code">
                    <pre><span id='code'>public class Factorial {
                        public static void main(String[] args) {
                            int number = 5; // Change this to the desired number
                            long factorial = calculateFactorial(number);
                            System.out.println("Factorial of " + number + " is: " + factorial);
                        }
                        
                        public static long calculateFactorial(int n) {
                            if (n == 0 || n == 1) {
                                return 1;
                            } else {
                                return n * calculateFactorial(n - 1);
                            }
                        }
                    }
                    </span></pre>
                    <button class="codeButton" onclick="codeCopy('code2')">Copy</button>
                  </div>
            </div>
        </div>
    </div>
</div>  