<div class="new-section" style="padding: 80px;">
<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="section__info">
        <h2 class="section__title">{{ site.data.settings.projects__settings.projects__title }}</h2>
      
      </div>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
            type="button" role="tab" aria-controls="nav-home" aria-selected="true">Java</button>
          <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
            role="tab" aria-controls="nav-profile" aria-selected="false">Rust</button>
          <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button"
            role="tab" aria-controls="nav-contact" aria-selected="false">Python</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="code">
            <pre><span id='code2'>void Java()
  {
      Console.WriteLine("I will start");
  }</span></pre>
            <button class="codeButton" onclick="codeCopy('code2')">Copy</button>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <div class="code">
            <pre><span id='code2'>void Rust()
  {
      Console.WriteLine("I will start");
  }</span></pre>
            <button class="codeButton" onclick="codeCopy('code2')">Copy</button>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          <div class="code">
            <pre><span id='code2'>void Python()
  {
      Console.WriteLine("I will start");
  }</span></pre>
            <button class="codeButton" onclick="codeCopy('code2')">Copy</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
