<div class="new-section">
<div class="container">
    <div class="row">
        <div class="col col-12">
            <div class="section__info">
                <h2 class="section__title">{{ site.data.settings.projects__settings.feature__title }}</h2>
              </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div  style="background-color: none; border: 1px solid #008080;">
                    <div class="card-body">
                  <h5 class="card-title feature-title"><i class="icon fa-solid fa-chart-simple"></i>Feature 1</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
                <div  style="background-color: none; border: 1px solid #008080;">
                    <div class="card-body">
                  <h5 class="card-title feature-title"><i class="icon fa-solid fa-phone"></i>Feature 2</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
                <div  style="background-color: none; border: 1px solid #008080;">
                  <div class="card-body">
                    <h5 class="card-title feature-title"><i class="icon fa-brands fa-searchengin"></i>Feature 3</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additio nal content.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div style="background-color: none; border: 1px solid #008080;">
                    <div class="card-body">
                    <h5 class="card-title feature-title"><i class="icon fa-solid fa-gear"></i>Feature 4</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  </div>
                </div>
              </div>
          </div>
    </div>
  </div>
</div>