<div class="new-section" style="padding-top: 80px">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="section__info">
                    <h2 class="section__title">{{ site.data.settings.projects__settings.about_us }}</h2>
                    {% if site.data.settings.projects__settings.projects__description %}
                    <p class="section__description">{{ site.data.settings.projects__settings.about_us_text }}
                    </p>
                    {% endif %}
                </div>
            </div>
            
        </div>
    </div>
</div>  